header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .navbar a{
    color: #fff;
    text-decoration: none;
  }

  .HomePageP{
    margin-left: 5px;
    border: solid black;
    box-shadow: 4px 4px 4px;
    border-radius: 10px;
  }

  .catalog{
    display: flex;
    border: solid#333;
    border-radius: 10px;
    justify-content: space-between;
  }

  .catalog.div{
    border: 5px solid grey;
    margin: 15px;
    padding: 15px;
    width: 500px;
    box-shadow: 4px 4px 5px rgba(139, 95, 95, 0.697);
    background-color: rgb(161, 255, 238);
  }

  footer{
    background-color: beige;
    color: black;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px;

  }
  .footer{
    display: flex;
    justify-content: left;
    gap: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    border: 10px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: beige;
    border-radius: 10px;
  }
  