header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  .navlink{
    color: #fff;
    text-decoration: none;
  }
  .navlink:hover{
    color: aqua;
  }

  .HomePageP{
    margin-left: 5px;
    border: solid black;
    box-shadow: 4px 4px 4px;
    border-radius: 10px;
  }

  .catalog{
    display: flex;
    justify-content: space-between;
  }

  .catalog>div{
    border: 5px solid grey;
    padding: 15px;
    width: 500px;
    box-shadow: 4px 4px 5px rgba(139, 95, 95, 0.697);
    background-color: beige;
  }

  footer{
    background-color: rgb(152, 241, 238);
    color: black;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px;

  }
  .footer{
    display: flex;
    justify-content: left;
    gap: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    border: 10px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: beige;
    border-radius: 10px;
  }
  
  .secondp{
    padding: 20px;
    border: solid #ddd;
    box-shadow: 4px 4px 4px;
    border-radius: 10px;
    background-color: azure;
  }

  h1{
    margin: 20px;
  }

  h2{
    margin: 10px;
  }

  .aboutus{
    padding: 20px
  }

  body {
    font-family: "Trirong", serif;
  }
  body {
    font-family: "Sofia", sans-serif;
  }

  .typesofproducts{
    margin-right: 10px;
    border:solid #ddd;
    border-radius: 10px;
  }

  .para2{
    margin-left: 5px;
    border: solid black;
    box-shadow: 4px 4px 4px;
    border-radius: 10px;
  }
  .aboutus{
    border: solid#ddd;
    box-shadow: 4px;
  }

  .hairoil{
    display: flex;
}
.hairoil>div{
    border: 5px solid grey;
    margin: 15px;
    padding: 15px;
    width: 500px;
    box-shadow: 4px 4px 5px rgba(139, 95, 95, 0.697);
    justify-content: space-between;

}